

#content {
    max-width: 1600px;
    margin:0 auto;
}
nav a {
    text-align: center;
    color: #242222;
    text-decoration: none;
    padding: 35px;
}
hero-msg h1 {
    text-align: center;
}
 hero-msg h4 {
    text-align: center;
 }

.button-box {
    text-align: center;
}

main section {
    text-align: center;
}
main section img {
    box-sizing: border-box;
}

body {
    background-color:  #d0d4ca;
    font-family: 'Rock Salt', Montserrat, Helvetica;
    font-size: 22px;
    margin: 0;
    padding: 0;
}
header {
    background-color:#55a5df;
}
nav a:hover {
    background-color: #b39e9a;
}
background {
    background-color: #af3e4d;
    height: 725px;
}
nav a:hover {
    background-color: #e0b6ae;
    color: #3a3631;
} 
.home-title {
    background-color: #a97c73;
    color: #3a3631;
    margin-top: 10px;
} 
h4 {
    background-color: #a97c73;
    color: #3a3631;
} 
.book, .join{
    background-color: #a97c73;
    color: #3a3631;
    text-align: center;
    color: #fcfbfb;
    text-decoration: none;
    padding: 15px 30px;
    margin-top: 50px;
    font-family: 'Rock Salt', Montserrat, Helvetica;
    font-size: 18px
    border-radius: 5px;
} 
.book:hover, .join:hover {
    background-color: #a97c73;
    color: #3a3631;
} 
.msg h2 {
    background-color: #a97c73;
    color: #3a3631;
    margin: 0;
} 
.msg p {
    background-color: #a97c73;
    color: #3a3631;
} 
footer {
    background-color: #a97c73;
    color: #3a3631;
    padding: 25px 50px;
    margin-top: 200px;
} 
footer a {
    background-color: #a97c73;
    color: #3a3631;
    text-align: center;
    color: #3a3631;
    text-decoration: none;
} 
footer a:hover {
    background-color: #a97c73;
    color: #3a3631;
    text-decoration: underline;
} 
footer p {
    font-size: 1.2em;
} 
background {
    height: 725px;
}
.logo {
    width: 80px;
}
.icon { 
    width: 80px;
    padding-top: 10px;
}
.home-title {
    font-family: 'Rock Salt', Montserrat, Helvetica;
    font-size: 2em;
}
.msg p {
    font-family: 'Rock Salt', Montserrat, Helvetica;
    font-size: .8em
    padding-bottom: 15px;
}
.msg {
    background-color: #a97c73;
    line-height: 1.5em;
    padding: 35px;
  }
  #logo_link {
    padding-top: 5px;
  }  
  footer .social img {
    padding-top: 15px;
  }
  .rivers-card {
    margin: 200px 0;
  }
  .camping-card {
    margin: 200px 0;
  }
  .rapids-card {
    margin: 200px 0;
  }
  .card-img {
    border: 10px solid #0e0d0d;
  }